<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div>
    Edit then push
    <div>
      <label>Name:</label>
      <input type="text" [(ngModel)]="CurrentItem.Name">
    </div>
    <div>
      <label>Age:</label>
      <input type="text" [(ngModel)]="CurrentItem.Age">
    </div>
    <div>
      <input type="button" (click)="EditThenPush()" value="Push">
    </div>

    <div>
      <div class="in-line" *ngFor="let item of InfoList">
        {{item.toString()}}
      </div>  
    </div>

  </div>
  <div>
    push then edit
    <div *ngFor="let item of CacheList; let i=index">
      <div>
        <label>Name:</label>
        <input type="text" [(ngModel)]="item.Name">
      </div>
      <div>
        <label>Age:</label>
        <input type="text" [(ngModel)]="item.Age">
      </div>
      <div>
        <input type="button" (click)="EditItem(item, i)" value="Push">
      </div>
    </div>
  </div>
</div>